.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  font-size: 16px;
  line-height: 18px;

  &:active {
    opacity: 0.3;
  }
}

.credits__organization {
  text-decoration: none;
  color: var(--special_dark-grey);
}

.credits:hover .credits__organization,
.credits:hover .credits__logo svg path {
  fill: var(--basic_green);
  color: var(--basic_green);
}

@media (min-width: $tablet-width) {
  .credits {
    padding: 0;
  }
}
