@media (min-width: $tablet-width) {
  .extra-products__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .extra-products {
    display: flex;
  }

  .extra-products__list {
    flex-grow: 1;
    margin-right: 80px;
  }

  .extra-products__offer {
    height: 288px;
    width: 245px;
  }
}
