.goals {
  @include container;
  margin-top: 124px;
}

@media (min-width: $tablet-width) {
  .goals {
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}
