.offer {
  position: relative;
  min-height: 290px;
  background-color: var(--basic_green);
  background-image: url("../../img/gift-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60px);
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }
}

.offer__text {
  width: 160px;
  padding: 186px 60px 43px 60px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .offer {
    min-height: 200px;
    background-position: center;
    background-image: url("../../img/gift-tablet.jpg");

    &::before {
      left: 77px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-tablet@2x.jpg");
    }
  }

  .offer__text {
    position: absolute;
    transform: translate(0, -50%);
    right: 70px;
    top: 50%;
    padding: 0;
    text-align: left;
  }
}


@media (min-width: $desktop-width) {
  .offer {
    position: relative;
    width: 245px;
    background-image: url("../../img/gift-desktop.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-desktop@2x.jpg");
    }

    &::before {
      left: 50%;
      transform: translate(-50%, 60px);
    }
  }

  .offer__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    padding: 0;
    text-align: center;
  }
}
