.socials {
  @include list-style-reset;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 17px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.socials__item {
  margin: 0;
}

.socials__link {
  display: inline-block;
  padding: 0 12px;

  &:hover svg path {
    fill: var(--basic_green);
  }

  &:active svg {
    opacity: 0.3;
  }

  &:hover.socials__link--facebook svg path {
    fill: none;
    stroke: var(--basic_green);
  }
}

@media (min-width: $tablet-width) {
  .socials {
    padding: 0;
    border: none;
  }

  .socials__item {
    margin: 0 13px;
  }
}
